h1{
    
  }
  .containerLogin{
    position: absolute;
    width: 552px;
    height: 618px;
    left: 150px;
    top: 125px;
    background: rgba(184, 211, 155, 0.8);
    border-radius: 20px;
  }
  h4{
    
  }
.titulo{
  position: absolute;
width: 485px;
/*left: 334px;
top: 127px; */
font-family: 'Goldplay Alt';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #3D5F1A;


}
.subtitulo{
  position: absolute;
 width: 480px;
 top: 50px;
/*height: 17px;
left: 316px;
 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
color: #3D5F1A;
}

  label{
   /*  position: absolute;
    width: 429px;
    height: 50px;
    left: 212px;
    top: 409px;
    background: #FFFFFF;
    border: 1px solid #7E7373;
    border-radius: 6px; */
  }
  input{
   /*  margin-top: 100px;
    margin-bottom: 5px; 
    margin-right: 40px;
    margin-left: 55px;
    width: 405px;
    height: 32px;
    border-radius: 6px;
    display: block;  */
     
  }

.email{
  margin-top: 130px;
  margin-bottom: 5px; 
  margin-right: 40px;
  margin-left: 55px;
  width: 405px;
  height: 32px;
  border-radius: 6px;
  display: block; 
}

.password{
  margin-top: 20px;
  margin-bottom: 5px; 
  margin-right: 40px;
  margin-left: 55px;
  width: 405px;
  height: 32px;
  border-radius: 6px;
  display: block; 
}

  .login{
     box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    gap: 8px;
    position: absolute;
    width: 410px;
    height: 40px;
    left: 55px;
    top: 250px;
    background: #33978B;    
    border: 1px solid #33978B;
    border-radius: 8px; 
  }
  .loginGoogle{
    position: absolute;
    width: 429px;
    height: 50px;
    left: 48px;
    top: 394px;
    background: #FFFFFF;
    border: 1px solid #7E7373;
    border-radius: 6px;
  }
  .logo{
   /*  height: 22px;
    margin-top: auto;
    margin-right: 5px; */
  }
  .ultimotexto{
    position: absolute;
width: 367px;
height: 53px;
left: 90px;
top: 479px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #7E7373;
  }

  .registro{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    gap: 8px;
    position: absolute;
    width: 410px;
    height: 40px;
    left: 55px;
    top: 320px;
    background: #33978B;    
    border: 1px solid #33978B;
    border-radius: 8px;
  }
  .registrar{
      width: 100%;
      height: 30px;
      border-radius: 15px;
      margin-bottom: 16px;
  }

  form{
    color: red;
    margin: 0;
  }
  
  
  
  
  
  
  
  
  